parameters:
    level: max
    excludePaths:
        - config/reference.php
        - tests/object-manager.php
        - public/index.php
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
