parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
      - '/PHPDoc tag @method for method findBy\(\)/'
      - '/PHPDoc tag @method for method findOneBy\(\)/'
      - '/::\$id is never written, only read/'
